body {
  font-family: Arial;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  text-align: center;
  margin-top: 80px;
}

.container {
  max-width: 500px;
  margin: auto;
}

input {
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #ff4b2b;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff416c;
}

.movie {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 8px;
}
